body { 
 font-family: Arial, Verdana, Helvetica; 
=======
 font-family: Arial, Verdana, Helvetica, sans-serif; 
>>>>>>> e65ae4a854de91bc1e6f2940a94caae798cb2480
 }

.theader {
	background: #4a423f;
}

.myclass {
	color: 

}

.theader {
	color: #e8dbd3;
	padding: 1px;
}

.zagolovok{
	text-align: center;
	background-color: #ccc
}

.zagolovok h1 {
	margin-top: 0;
	color: #f05f40
}

.zagolovok {
	padding: 50px;
}

#sozdatel {
	float: right;
}

#sozdatel li a {
	padding-top: 10px
}

#sozdatel li {
	list-style: none;
	display: inline;
}

#sozdatel li a {
	text-decoration: none;
	color: #e8dbd3
}

#sozdatel li a:hover {
	color: #f05f40;
}

.top a {
	text-decoration: none;
}

.top a {
	color: blue;
}

#footer-site {
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #4a423f;
}

#footer-site a {
	color: #fff
}

#footer-site a {
	text-decoration: none;
}

.wiget-social li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.top a:hover {
	color: #4900cf;
}

.channel a:hover {
    color: #000acf;
}

.ogi li {
	text-decoration: none;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 65c01d0a8dea947d03a52020a725be41017f6cf3
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
=======
>>>>>>> 65c01d0a8dea947d03a52020a725be41017f6cf3
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
.centir {
	color: black;
	text-align: center;
}

.center {
	color: Tomato;
	text-align: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
}

body {
   	padding: 0;
   	margin: 0;
}

#vk_comments {
	padding-top: 40px
}

#vk_groups {
	float: right;
}

.col-sidebar {
	width: 30%;
	background: #eee;
	float: right;
}

=======
<<<<<<< HEAD
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
=======
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
>>>>>>> e65ae4a854de91bc1e6f2940a94caae798cb2480
}

body {
   	padding: 0;
   	margin: 0;
}

#vk_comments {
	padding-top: 40px
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> e65ae4a854de91bc1e6f2940a94caae798cb2480
}

#vk_groups {
	float: right;
}

.col-sidebar {
	width: 30%;
	background: #eee;
	float: right;
<<<<<<< HEAD
}

=======
}

=======
=======
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
=======

.center {
	color: Tomato;
	text-align: center;
}

body {
   	padding: 0;
   	margin: 0;
}

#vk_comments {
	padding-top: 40px
<<<<<<< HEAD
>>>>>>> c081b4542c4fa13c4f0d82de96f37a97d488e8d4
}

#vk_groups {
	float: right;
}

.col-sidebar {
	width: 30%;
	background: #eee;
	float: right;
<<<<<<< HEAD
}

<<<<<<< HEAD
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
=======
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779

.cut-list li {
    list-style: none;
}

.cut-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
=======
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
}
=======
	margin-top: 50px;
}

>>>>>>> 65c01d0a8dea947d03a52020a725be41017f6cf3
>>>>>>> e65ae4a854de91bc1e6f2940a94caae798cb2480

.cut-list li {
    list-style: none;
}

.cut-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
}

=======
}

#vk_groups {
	float: right;
}
>>>>>>> d8f67495ad9c3f1bbc0d9d324c59f30337369425
>>>>>>> c081b4542c4fa13c4f0d82de96f37a97d488e8d4
>>>>>>> 65c01d0a8dea947d03a52020a725be41017f6cf3
<<<<<<< HEAD
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
=======
>>>>>>> 0bca350ccebee7f626fef77c7daab8ac8b668779
>>>>>>> e65ae4a854de91bc1e6f2940a94caae798cb2480
